div#main {
    background-image: url('../picture/heart.png');
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover; 
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
    }