.fieldset-auto-width {
    display: inline-block;
}
form {
    width: 50%;
    margin: 0 auto 0 auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    }
input[type="text"], input[type="pass"], input[type="email"], textarea {
    margin-bottom: .25em;
    padding: .25em;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
input[type="submit"] {
    font-size: 1.25em;
    }
legend {
    font-weight: 700;
    }