div.header {
position: fixed;
top: 0;
left: 0;
background-color: #990000;
width: 100%;
/* position: absolute; */
left: 0;
}
div.header h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 2em;
    margin-left: 12%;
    padding: 0;
    }
div.header img {
    float: left;
    /* margin: .9em .6em 0 .75em; */
}